a.bouton {
display: block;
width: 150px;
line-height: 40px;
background: black ;
color: #000000;
-webkit-transition: all 0.7s ease-out 0s;
-moz-transition: all 0.7s ease-out 0s;
transition: all 0.7s ease-out 0s;
font-weight: bold;
text-align: center;
}
a.bouton:hover {
background: url(http://3.bp.blogspot.com/-FzfYdG3-fyU/VoUt30PxyfI/AAAAAAAADUI/6R-bHnZI630/s1600/bouton-orange2.png);
color: #ffffff;
}